SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
VAULT_MASTER_KEY=
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"

ANVIL_PROGRAM_ID=6MSJLXdbaoNT9S4pmbCPagTdzNCoYKYMrKicLBZNbrzs
CRANKER_URL=http://localhost:4001
CRANKER_API_KEY=
ADMIN_API_KEY=
